<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="navbar"
         class="navbar">

      <a th:href="@{/}">
        PeacHub
      </a>

      <a th:href="@{/albums}">
        Альбомы
      </a>

      <a th:href="@{/albums/top}">
        Топ
      </a>

      <a th:href="@{/favorites}">
        Избранное
      </a>

      <a th:href="@{/users/me}">
        Профиль
      </a>

      <form th:action="@{/logout}"
            method="post"
            class="logout-form">

        <button type="submit"
                class="logout-button">

          Выйти

        </button>

      </form>

    </div>
  </body>
</html>