<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Albums</title>

  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">

  <div class="hero">

    <h1>Albums</h1>

    <p>
      Discover music, reviews and ratings
    </p>

    <form th:action="@{/albums/search}"
          method="get"
          class="search-bar">

      <input type="text"
             name="query"
             placeholder="Search albums...">

      <button type="submit">
        Search
      </button>

    </form>

  </div>

  <div class="center"
       th:if="${#authorization.expression('hasRole(''ADMIN'')')}">

    <a th:href="@{/albums/new}">
      <button>
        Create album
      </button>
    </a>

  </div>

  <br>

  <!-- Альбомы из БД -->
  <div th:unless="${externalResults}">

    <div class="album-grid">

        <div class="album-card"
             th:each="album : ${albums}">

          <img th:if="${album.coverUrl != null}"
               th:src="${album.coverUrl}"
               alt="Album cover"
               class="album-cover">

          <div th:unless="${album.coverUrl != null}"
               class="album-cover-placeholder">

            No Cover

          </div>

          <h3 th:text="${album.title}"></h3>

          <p class="album-meta">

            <span th:text="${album.artist}"></span>

            •

            <span th:text="${album.genre}"></span>

            •

            <span th:text="${album.releaseYear}"></span>

          </p>

          <a th:href="@{/albums/{id}(id=${album.id})}">
            Open album
          </a>

        </div>



    </div>

  </div>

  <!-- Альбомы из MusicBrainz -->
  <div th:if="${externalResults}">

    <h2 class="section-title">
      Albums found online
    </h2>

    <div class="album-grid">

        <div class="album-card"
             th:each="album : ${albums}">

          <img th:if="${album.coverUrl != null}"
               th:src="${album.coverUrl}"
               alt="Album cover"
               class="album-cover">

          <div th:unless="${album.coverUrl != null}"
               class="album-cover-placeholder">

            No Cover

          </div>

          <h3 th:text="${album.title}"></h3>

          <p class="album-meta">

            <span th:text="${album.artist}"></span>

            •

            <span th:text="${album.genre}"></span>

            •

            <span th:text="${album.releaseYear}"></span>

          </p>

          <form th:action="@{/albums/import}"
                method="post">

            <input type="hidden"
                   name="coverUrl"
                   th:value="${album.coverUrl}">

            <input type="hidden"
                   name="musicBrainzId"
                   th:value="${album.musicBrainzId}">

            <input type="hidden"
                   name="title"
                   th:value="${album.title}">

            <input type="hidden"
                   name="artist"
                   th:value="${album.artist}">

            <input type="hidden"
                   name="releaseYear"
                   th:value="${album.releaseYear}">
            <input type="hidden"
                   name="genre"
                   th:value="${album.genre}">

            <button type="submit">
              Open album
            </button>

          </form>

        </div>



    </div>

  </div>

</div>

</body>
</html>