<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Edit Album</title>
  <meta charset="UTF-8">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Create Album</h1>

<form th:action="@{/albums/{id}/edit(id=${albumId})}"
      th:object="${albumForm}"
      method="post">

  <div>
    <label>Title</label>
    <input type="text" th:field="*{title}">

    <p th:if="${#fields.hasErrors('title')}"
       th:errors="*{title}">
    </p>
  </div>

  <div>
    <label>Artist</label>
    <input type="text" th:field="*{artist}">

    <p th:if="${#fields.hasErrors('artist')}"
       th:errors="*{artist}">
    </p>
  </div>

  <div>
    <label>Genre</label>
    <input type="text" th:field="*{genre}">

    <p th:if="${#fields.hasErrors('genre')}"
       th:errors="*{genre}">
    </p>
  </div>

  <div>
    <label>Release Year</label>
    <input type="number" th:field="*{releaseYear}">

    <p th:if="${#fields.hasErrors('releaseYear')}"
       th:errors="*{releaseYear}">
    </p>
  </div>

  <div>
    <label>Cover URL</label>
    <input type="text" th:field="*{coverUrl}">
  </div>

  <div>
    <label>External ID</label>
    <input type="number" th:field="*{externalId}">
  </div>

  <button type="submit">
    Save
  </button>

</form>

</body>
</html>