<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Profile</title>

  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">

  <div style="
        text-align:center;
        margin-top:20px;
        margin-bottom:50px;
    ">

    <h1 style="
            font-size:56px;
            margin-bottom:10px;
        ">
      User Profile
    </h1>

    <p style="
            color:#b3b3b3;
            font-size:18px;
        ">
      Personal music activity and favorite albums
    </p>

  </div>

  <div class="card" style="
        padding:40px;
        margin-bottom:40px;
        text-align:center;
    ">

    <h2 style="
            font-size:40px;
            margin-bottom:10px;
        "
        th:text="${profileUser.username}">
    </h2>

    <p style="color:#b3b3b3;">
      PeacHub user
    </p>

  </div>

  <h2 style="margin-bottom:25px;">
    User Reviews
  </h2>

  <div th:if="${#lists.isEmpty(reviews)}">

    <div class="card" style="
            padding:40px;
            text-align:center;
            margin-bottom:50px;
        ">

      <p>No reviews yet</p>

    </div>

  </div>

  <div class="album-grid">

    <div class="card-review"
         th:each="review : ${reviews}">

      <h3>

        <a th:href="@{/albums/{albumId}/reviews/{reviewId}(
                albumId=${review.album.id},
                reviewId=${review.id}
            )}"
           th:text="${review.title != null and !#strings.isEmpty(review.title) ? review.title : 'Untitled Review'}">

          Review Title

        </a>

      </h3>

      <p th:text="${review.content}"></p>

      <br>

      <p>
        ⭐ Rating:
        <span th:text="${review.rating}"></span>
      </p>

      <br>

      <a th:href="@{/albums/{albumId}/reviews/{reviewId}(
                    albumId=${review.album.id},
                    reviewId=${review.id}
                )}">
        Open review →
      </a>

    </div>

  </div>

  <br><br>

  <h2 style="margin-bottom:25px;">
    Favorite Albums
  </h2>

  <div th:if="${#lists.isEmpty(favorites)}">

    <div class="card" style="
            padding:40px;
            text-align:center;
        ">

      <p>No favorite albums</p>

    </div>

  </div>

  <div class="album-grid">

    <div class="album-card"
         th:each="favorite : ${favorites}">

      <img th:src="${favorite.album.coverUrl}"
           alt="Album cover"
           class="album-cover">

      <h3 th:text="${favorite.album.title}"></h3>

      <p style="color:#b3b3b3;">

        <span th:text="${favorite.album.artist}"></span>

        •

        <span th:text="${favorite.album.genre}"></span>

        •

        <span th:text="${favorite.album.releaseYear}"></span>
      </p>

      <br>

      <a th:href="@{/albums/{id}(id=${favorite.album.id})}">
        Open album →
      </a>

    </div>

  </div>

</div>

</body>
</html>